{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans 'Projects' %}
{% endblock %}

{% block content %}
    		<div class="col-md-12">
            	<a href="{% url 'project-add' %}" class="btn-add"><i class="fa fa-plus-square" aria-hidden="true"></i> {% trans 'Add project' %} </a>
            </div>
            {%  for project in projects %}
    		<!-- .project-box -->
        	<div class="col-md-6">
            	<div class="project-box clearfix">
                    <div class="col-md-2 pull-left">
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="height: 30%;">
                              <span>30%</span>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4  pull-left text-left">
                        <button class="phase">{% trans 'Phase 1' %}</button>
                    </div>
                    <div class="col-md-6 padding-right-10 pull-left">
                        <h3 class="project-name"><a href="{% url 'project-view' project.id %}"> {{project.title |title}}</a></h3>
                    </div>
                    <div class="col-md-8 padding-right-10 user-list">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" title="User name"><i class="fa fa-user-circle-o"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="User name"><i class="fa fa-user-circle-o"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="User name"><i class="fa fa-user-circle-o"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="User name"><i class="fa fa-user-circle-o"></i></a></li>
                        </ul>
                    </div>  
                </div>              
            </div>
			<!-- END .project-box -->
            {%  endfor %}


{% endblock %}
{% block extra_js %}
{{ block.super }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
{% endblock %}
