{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans 'Project' %}
{% endblock %}

{% block content %}

{{ form.media }}
            <div class="col-md-12 pull-right page-title">
            	Really delete project <b>{{ object.title}}</b> ?
            </div>
            <div class="col-md-6 pull-right">
                    <form  method="post" action="." novalidate="novalidate">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <p class="">{{ non_field_error }}</p>
                        {% endfor %}
                        {% for field in form %}
                        	<div class="form-group {% if field.errors %}has-error{% endif %}">
                                
                                <label>{{ field.label }}</label>
                                <div>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="field-errors">{{ error }}</div>
                                {% endfor %}
                                </div>
                          	</div>

                        {% endfor %}
                        <div class="padding-top-30">
                        <button type="submit" class="btn btn-primary col-md-4 btn-block login-button">{% trans 'Confirm' %}</button>
                        <a href="{% url 'project-edit' object.id %}" class="btn btn-primary col-md-4 margin-right-10 login-button">{% trans 'Back' %}</a>
                        </div>
                    </form>
            </div>

{% endblock %}