{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans 'Project' %}
{% endblock %}

{% block content %}

{{ form.media }}
            <div class="col-md-12 pull-right page-title">
            	{% if form.instance.id %}{% trans 'Edit project' %}: {{ form.instance.title}}{% else %}{% trans 'Create new project' %}{% endif  %}
            </div>
            <div class="col-md-6 pull-right">
                    <form  method="post" action="." novalidate="novalidate">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <p class="">{{ non_field_error }}</p>
                        {% endfor %}
                        {% for field in form %}
                        	<div class="form-group {% if field.errors %}has-error{% endif %}">
                                
                                <label>{{ field.label }}</label>
                                <div>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="field-errors">{{ error }}</div>
                                {% endfor %}
                                </div>
                          	</div>

                        {% endfor %}
                        <div class="padding-top-30">
                        <button type="submit" class="btn btn-primary col-md-3">{% trans 'Save' %}</button>
                            {% if form.instance.id %}
                            <a href="{% url 'project-delete' form.instance.id %}" class="btn btn-danger col-md-3 margin-right-10 ">{% trans 'Delete' %}</a>
                                <a href="{% url 'project-view' form.instance.id %}" class="btn btn-primary col-md-3 margin-right-10">{% trans 'Back' %}</a>
                            {%  else %}
                                <a href="{% url 'home' %}" class="btn btn-primary col-md-3 margin-right-10">{% trans 'Back' %}</a>
                            {%  endif %}

                        </div>
                    </form>
            </div>

{% endblock %}