{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans 'Project' %}
{% endblock %}

{% block content %}


            
        <div class="col-md-12 wizard-steps">
        	<div class="panel">
                <ul>
                    {% for p in phases %}
                    <li {% if object.phase.id == p.id or not object.phase and p.order == 1 %}class="active" {% elif object.phase.order > p.order %} class="ready"{%  endif %}><span></span>{{ p.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-md-12 pull-right page-title">
            		Project: {{ object.title}}
        </div>
            
        <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading"><a  href="{% url 'project-edit' object.id %}">Project description</a></div>
            <div class="panel-body">
                {{ object.descrition}}
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">Team</div>
                <div class="panel-body">
                <ul class="team-list">
                  <li><a href="#"><i class="fa fa-user-circle-o"></i> Adam West</a></li>
                  <li><a href="#"><i class="fa fa-user-circle-o"></i> Adam West</a></li>
                  <li><a href="#"><i class="fa fa-user-circle-o"></i> Adam West</a></li>
                  <li><a href="#"><i class="fa fa-user-circle-o"></i> Adam West</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        	<div class="panel">
            <div class="panel-heading">{% if object.next_stage_exists %}{% trans 'Tasks list' %}{% else %}{% trans 'Project is complete' %} {% endif %} </div>
            <div class="panel-body">
                <ul class="checkbox-list">
                    {% for task in object.curr_tasks %}
                  <li><a {% if task.completed %}style="text-decoration: line-through;" {% endif %} href="{% url 'task-view' task.id %}">{{ task.title }}</a></li>
                    {%  endfor %}
                </ul>
            </div>
            <div class="panel-footer">
            {{ object.not_compete_tasks  }}
                {% if object.next_stage_exists %}
                    <form id="confirmstage" action="{% url 'project-confirm' object.id %}" method="post">
                    {% csrf_token %}
                        <button type="submit" {% if object.not_complete_tasks %} disabled {% endif %}class="btn btn-primary">{% trans 'Submit' %} {{ object.phase.name |default:"Phase 1"}}</button>
                </form>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-md-12 clearfix"></div>

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">Project Timeline</div>
                <div class="panel-body">
                    <ul class="timeline">
                            <li>
                              <div class="timeline-badge"><i class="fa fa-user-circle-o"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">11.10.2017 10:30</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="timeline-badge"><i class="fa fa-user-circle-o"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">11.10.2017 10:30</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="timeline-badge"><i class="fa fa-user-circle-o"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">11.10.2017 10:30</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris</p>
                                </div>
                              </div>
                            </li>
                           
                        </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">Attachments</div>
                <div class="panel-body">
                <ul class="file-list">
                  <li><a href="#"><i class="fa fa-file-o"></i> File 1</a></li>
                  <li><a href="#"><i class="fa fa-file-o"></i> File 2</a></li>
                  <li><a href="#"><i class="fa fa-folder"></i> Catalog 1</a></li>
                  <li><a href="#"><i class="fa fa-folder"></i> Catalog 2</a></li>
                </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 clearfix">
        <a href="{% url 'home' %}" class="btn btn-primary col-md-3">Back</a>
        </div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function () {
    $( "#confirmstage" ).submit(function() {
       var c = confirm("Click OK to continue?");
       return c;
});
});
</script>
{% endblock %}
