{% extends 'base.html' %}
{% load staticfiles i18n forms_builder_tags %}
{% block title %}
    {% trans 'Task' %}
{% endblock %}

{% block content %}

            <div class="col-md-12 pull-right page-title">
                {% trans 'Update task' %}: {{ form.instance.title}}
            </div>
   {% if  form.instance.history_fields %}
    <b>Current values:</b>
       {% for p in form.instance.history_fields %}
          {{ p.field_id }}:{{ p.value }}
       {% endfor %}
    {% endif %}
<form action="{% url 'task-view' form.instance.id %}" method="post" {% if form.instance.form.is_multipart %}enctype="multipart/form-data"{% endif %}>
<input type="hidden" value="" name="data" />
            <div class="col-md-6 pull-right">

                {% render_built_form form.instance.form %}
                 <div class="padding-top-30">
                        <button type="submit" class="btn btn-primary col-md-3">{% trans 'Save' %}</button>
                        <a href="{% url 'project-view' obid %}" class="btn btn-primary col-md-3 margin-right-10">{% trans 'Back' %}</a>

                 </div>
            </div>

 </form>
{% endblock %}