{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'ext/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ext/bootstrap-rtl/dist/css/bootstrap-rtl.css' %}" rel="stylesheet">
    <link href="{% static 'ext/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" class="pingback">
    <script src="{% static 'ext/jquery.min.js' %}"></script>
    <script src="{% static 'ext/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</head>
<body>
<div class="wrapper container">
      <nav class="navbar row navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">{% trans 'Menu' %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="logo" /></a>
          </div>
           
          <div id="navbar" class="navbar-collapse collapse navbar-right">
           {% if user.is_authenticated %}
            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'My Account' %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                            <li><a target="_blank" href="{% url 'admin:index' %}">{% trans 'Admin Panel' %}</a></li>
                        {% endif %}
                <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
<!--                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
            
        </div><!--/.container-fluid -->
      </nav>
{% block heading %}{% endblock %}
{% block content %}{% endblock %}
</div>


{% block extra_js %}{% endblock %}
</body>
</html>