/*variables*/

$v:5; /*leap value*/
$c:20; /*leap count*/

$p:$v*1px;

/*margin*/
@mixin offset($value){
  margin: $value !important
}
@for $i from 0 through $c {
  .margin-#{$v*$i}{
    @include offset($p * $i)
  }
}

/*margin-sides*/

@mixin offset($margin, $value){
  margin-#{$margin}: $value !important
}

@for $i from 0 through $c {
  @each $margin in top, left, bottom, right {

    .margin-#{$margin}-#{$v*$i}{
      @include offset($margin, $p * $i) 
      
    }
  }
}

/*padding*/
@mixin offset($value){
  padding: $value !important
}
@for $i from 0 through $c {
    .padding-#{$v*$i}{
      @include offset($p * $i) 
  }
}

/*padding-sides*/
@mixin offset($margin, $value){
  padding-#{$margin}: $value !important
}

@for $i from 0 through $c {
  @each $margin in top, left, bottom, right {

    .padding-#{$margin}-#{$v*$i}{
      @include offset($margin, $p * $i) 
      
    }
  }
}
