@import "_mixins";
@import "_positioning";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

body, html{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;	
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input
{
    margin-bottom: 10px;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* HEADER */
.navbar{
	@include border-radius(0);
	
	.navbar-brand{
		height:100px;	
	}
}
.navbar-default {
  background-color: #f0f0f0;
  border:none;
  border-bottom:solid 1px #e5e5e5;
}
.navbar-nav > li > a {
  padding-bottom: 40px;
  padding-top: 40px;
}

.wrapper{
	border:solid 1px #f0f0f0;
	padding-bottom:30px;	
}

.btn-add{
	color:#95989a;
	font-weight:bold;
	font-size:18px;
	margin:20px 0;
	display:block;
	
	i{
		margin-left:5px;	
	}
	
	&:hover{
		color:#333;	
	}
}
.btn{
	@include transition(all .3s ease);
	
	&:hover{
		@include transition(all .3s ease);	
	}
}
.btn-primary{
  background-color: #f0f0f0;
  border: solid 1px #c4c6c7;
  color:#333;
  
  &:hover{
	  border:solid 1px #333;
	  color:#333;
	  background-color:#f0f0f0;  
  }
}

.project-box{
  background-color: #f0f0f0;
  border: solid 1px #e5e5e5;
  padding:15px;
  position:relative;
  margin-bottom:25px;
  
  .project-name{
	  margin:0;
	  padding:0;  
  }
  .user-list{
	  bottom:10px;
	  right:10px;
	  position:absolute;
	    
		ul{
		  padding:0;
		  margin:0;
		  list-style:none;
		  list-style-image:none;
		  
		  li{
			  display:inline-block;
			  
			  a{
				  font-size:35px;
				  color:#808080;
				  
				  &:hover{
					  color:#333;  
				  }
			  }
		  }
		}
  }
  .phase{
	  float:left;
	  padding:5px 25px;
	  min-width:150px;
	  text-align:center;
	  @include border-radius(15px); 
	  background-color: #f4f4f4;
  	  border: solid 1px #95989a; 
  }

	.progress-bar-vertical {
	  width: 50px;
	  min-height: 100px;
	  display: flex;
	  align-items: flex-end;
	  margin-right: 20px;
	  float: left;
	  margin-bottom:0;
	  box-shadow:0 0 0 1px #95989a inset;
	  
	  .progress-bar {
		  width: 100%;
		  height: 0;
		  -webkit-transition: height 0.6s ease;
		  -o-transition: height 0.6s ease;
		  transition: height 0.6s ease;
		  background-color:#d0d0d0;
		  box-shadow:none;
		  box-shadow:0 0 0 1px #95989a inset;
		  
		  > span{
			  color:#FFF;  
		  }
		  
		}
	}
}

/* FORMS */

.field-errors{
		background-color: #cb2026;
		border-radius: 3px;
		bottom: calc(50% + 6px);
		right:0;
		color: #fff;
		font-size: 12px;
		list-style: outside none none;
		min-width: 150px;
		padding: 7px 10px;
		position: absolute;
		white-space:nowrap;
		z-index: 9999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;

		
		&:before{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: #cb2026 transparent transparent transparent;
			position:absolute;
			bottom:-6px;
			right:10px;
			content:"";
		}
}

.form-group{
	  position:relative;
	  
	  &.has-error{
		  input, textarea, select, number{
			  border:solid 1px #EC0006!important;	
		  }
		  .field-errors{
			  opacity:0;
			  visibility:hidden;	
		  }
		  input:hover, div.checkbox label:hover, select:hover, textarea:hover{
			  + .field-errors{
				   visibility: visible;
				   opacity: 1;	
			  }
		  }
	  }
	  
	  
	  .form-control {
		//height: 45px;
		
		&:focus{
			box-shadow:none;  
		}
	  }
}


		input, textarea, number, select{
			background-color:transparent;
			width:100%;	
			padding:8px 5px;
			margin-top:15px;
			font-size:14px;
			height:auto;
			box-shadow:none;
			border:solid 1px #ddd;
			@include transition(all .3s ease);	
			
			&:focus{
			  outline:none;
			  border:solid 1px #333;
			  @include transition(all .3s ease);
			}
		}
/*		
	input + label, textarea + label {
	  display:block;
	  cursor:text;
	  color:#bababa;
	  font-weight:bold;
	  transition:.15s ease-out all;
	  position:absolute;
	  top:2em;
	  font-size:12px;
	  right:6px;
	}
	
	input:focus + label,
	label.stay,
	textarea:focus + label{
	  top:-4px;
	  right:6px;
	  font-size:11px;
	  font-weight:bold;
	  color:#333;
	  transition:.15s ease-out all;
	}*/
	
	.form-group{
		 label{
		  display:block;
		  cursor:text;
		  color:#333;
		  font-weight:bold;
		  transition:.15s ease-out all;
		  position:absolute;
		  top:-4px;
		  font-size:11px;
		  right:6px;
		  display:none!important;	
		  
				&:focus{
				  outline:none;
				  border:solid 1px #333;
				  @include transition(all .3s ease);
				}	 
		 }
	}
	
	
	#map_location{
		width:100%!important;	
	}
	#id_city{
		margin-top:-40px;
		margin-bottom:30px;	
	}
	
.checkbox-list{
	padding:0;
	margin:0;
	list-style:none;
	list-style-image:none;
	
	li{
		position:relative;	
	}
	
	label{
		font-weight:normal;
		padding-right:25px;
		
		&:before{
			position:absolute;
			right:1px;
			top:0px;
			font-size:14px;	
		}
		&:after{
			width:16px;
			height:16px;
			display:block;
			position:absolute;
			right:0;
			top:2px;
			border:solid 1px #000;
			content:"";	
		}
	}

	input[type=checkbox] { display:none; }
	input[type=checkbox] + label:before {
	  font-family: FontAwesome;
	}

	input[type=checkbox] + label:before {
		content: "";
	}
	
	input[type=checkbox]:checked + label{
		text-decoration:line-through;
		
		&:before{
			content: "\f00c";
		}
	}

}
.page-title{
	font-size:22px;
	color:#000;
	margin-bottom:20px;	
}
.panel{
	border:solid 1px #ddd;
	box-shadow:none;
	@include border-radius(0);
	
	.panel-heading{
		font-size: 18px;
		font-weight: 600;
	}
	.panel-footer{
		border:0;
		background-color:#FFF;	
	}
}

.team-list, .file-list{
	padding:0;
	margin:0;
	list-style:none;
	list-style-image:none;
	
	li{
		min-height:36px;	
	}
	
	a{
		color:#333;
		
		i{
			font-size:30px;
			position:relative;
			top:4px;
			margin-left:10px;	
		}
	}
}


.timeline {
    list-style: none;
    padding: 0px;
    position: relative;
	
	.timeline-title{
		font-size:14px;
		font-weight:700;	
	}
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        right: 5px;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 10px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 90%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -11px;
                display: inline-block;
                border-top: 11px solid transparent;
                border-left: 11px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 11px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -10px;
                display: inline-block;
                border-top: 10px solid transparent;
                border-left: 10px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 10px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 1em;
            text-align: center;
            position: absolute;
            top: 22px;
            right: -10px;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 10px;
                left: -10px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 10px;
                left: -10px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.wizard-steps{
	margin-bottom:30px;
	
	.panel{
		border:solid 1px #ddd;
		box-shadow:none;
		@include border-radius(30px);
		padding:15px 30px 30px 30px;
	}
	
	ul{
		padding:0;
		margin:0;
		list-style:none;
		list-style-image:none;
		display:flex;
		
		li{
			display:inline-block;
			flex-grow: 1;
    		flex-basis: 0;
			text-align:center;
			position:relative;
			
			span{
				width:26px;
				height:26px;
				display:block;
				position:absolute;
				bottom:-15px;
				@include border-radius(50%);
				right:calc(50% - 13px);
				z-index:3;
				background-color:transparent;			
			}
			
			&:after{
				content:"";
				width:26px;
				height:26px;
				display:block;
				position:relative;
				bottom:-15px;
				@include border-radius(50%);
				border:solid 2px #333;
				right:calc(50% - 13px);
				z-index:2;
				background-color:#FFF;
			}
			&.ready{
				span{
					background-color:#333;	
				}
			}
			&.active{
				span{
					@include border-radius(0 13px 13px 0);
					background-clip: padding-box;
					background-color: #333;
					border: medium none;
					height: 25px;
					width: 13px;	
				}
			}
			&:before{
				content:"";
				width:100%;
				position:absolute;
				left:0;
				bottom:-3px;
				border-bottom:solid 2px #ddd;	
			}
			
			&:first-child{
				&:before{
					width:50%;	
				}
			}
			&:last-child{
				&:before{
					width:50%;
					left:auto;
					right:0;	
				}
			}
		}
	}
}
