/*variables*/
/*leap value*/
/*leap count*/
/*margin*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
.margin-0 {
  margin: 0px !important; }

.margin-5 {
  margin: 5px !important; }

.margin-10 {
  margin: 10px !important; }

.margin-15 {
  margin: 15px !important; }

.margin-20 {
  margin: 20px !important; }

.margin-25 {
  margin: 25px !important; }

.margin-30 {
  margin: 30px !important; }

.margin-35 {
  margin: 35px !important; }

.margin-40 {
  margin: 40px !important; }

.margin-45 {
  margin: 45px !important; }

.margin-50 {
  margin: 50px !important; }

.margin-55 {
  margin: 55px !important; }

.margin-60 {
  margin: 60px !important; }

.margin-65 {
  margin: 65px !important; }

.margin-70 {
  margin: 70px !important; }

.margin-75 {
  margin: 75px !important; }

.margin-80 {
  margin: 80px !important; }

.margin-85 {
  margin: 85px !important; }

.margin-90 {
  margin: 90px !important; }

.margin-95 {
  margin: 95px !important; }

.margin-100 {
  margin: 100px !important; }

/*margin-sides*/
.margin-top-0 {
  margin-top: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-top-25 {
  margin-top: 25px !important; }

.margin-left-25 {
  margin-left: 25px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-right-25 {
  margin-right: 25px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-right-30 {
  margin-right: 30px !important; }

.margin-top-35 {
  margin-top: 35px !important; }

.margin-left-35 {
  margin-left: 35px !important; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-right-35 {
  margin-right: 35px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-left-40 {
  margin-left: 40px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-right-40 {
  margin-right: 40px !important; }

.margin-top-45 {
  margin-top: 45px !important; }

.margin-left-45 {
  margin-left: 45px !important; }

.margin-bottom-45 {
  margin-bottom: 45px !important; }

.margin-right-45 {
  margin-right: 45px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-left-50 {
  margin-left: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-right-50 {
  margin-right: 50px !important; }

.margin-top-55 {
  margin-top: 55px !important; }

.margin-left-55 {
  margin-left: 55px !important; }

.margin-bottom-55 {
  margin-bottom: 55px !important; }

.margin-right-55 {
  margin-right: 55px !important; }

.margin-top-60 {
  margin-top: 60px !important; }

.margin-left-60 {
  margin-left: 60px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-right-60 {
  margin-right: 60px !important; }

.margin-top-65 {
  margin-top: 65px !important; }

.margin-left-65 {
  margin-left: 65px !important; }

.margin-bottom-65 {
  margin-bottom: 65px !important; }

.margin-right-65 {
  margin-right: 65px !important; }

.margin-top-70 {
  margin-top: 70px !important; }

.margin-left-70 {
  margin-left: 70px !important; }

.margin-bottom-70 {
  margin-bottom: 70px !important; }

.margin-right-70 {
  margin-right: 70px !important; }

.margin-top-75 {
  margin-top: 75px !important; }

.margin-left-75 {
  margin-left: 75px !important; }

.margin-bottom-75 {
  margin-bottom: 75px !important; }

.margin-right-75 {
  margin-right: 75px !important; }

.margin-top-80 {
  margin-top: 80px !important; }

.margin-left-80 {
  margin-left: 80px !important; }

.margin-bottom-80 {
  margin-bottom: 80px !important; }

.margin-right-80 {
  margin-right: 80px !important; }

.margin-top-85 {
  margin-top: 85px !important; }

.margin-left-85 {
  margin-left: 85px !important; }

.margin-bottom-85 {
  margin-bottom: 85px !important; }

.margin-right-85 {
  margin-right: 85px !important; }

.margin-top-90 {
  margin-top: 90px !important; }

.margin-left-90 {
  margin-left: 90px !important; }

.margin-bottom-90 {
  margin-bottom: 90px !important; }

.margin-right-90 {
  margin-right: 90px !important; }

.margin-top-95 {
  margin-top: 95px !important; }

.margin-left-95 {
  margin-left: 95px !important; }

.margin-bottom-95 {
  margin-bottom: 95px !important; }

.margin-right-95 {
  margin-right: 95px !important; }

.margin-top-100 {
  margin-top: 100px !important; }

.margin-left-100 {
  margin-left: 100px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

.margin-right-100 {
  margin-right: 100px !important; }

/*padding*/
.padding-0 {
  padding: 0px !important; }

.padding-5 {
  padding: 5px !important; }

.padding-10 {
  padding: 10px !important; }

.padding-15 {
  padding: 15px !important; }

.padding-20 {
  padding: 20px !important; }

.padding-25 {
  padding: 25px !important; }

.padding-30 {
  padding: 30px !important; }

.padding-35 {
  padding: 35px !important; }

.padding-40 {
  padding: 40px !important; }

.padding-45 {
  padding: 45px !important; }

.padding-50 {
  padding: 50px !important; }

.padding-55 {
  padding: 55px !important; }

.padding-60 {
  padding: 60px !important; }

.padding-65 {
  padding: 65px !important; }

.padding-70 {
  padding: 70px !important; }

.padding-75 {
  padding: 75px !important; }

.padding-80 {
  padding: 80px !important; }

.padding-85 {
  padding: 85px !important; }

.padding-90 {
  padding: 90px !important; }

.padding-95 {
  padding: 95px !important; }

.padding-100 {
  padding: 100px !important; }

/*padding-sides*/
.padding-top-0 {
  padding-top: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-left-5 {
  padding-left: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-right-15 {
  padding-right: 15px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-right-20 {
  padding-right: 20px !important; }

.padding-top-25 {
  padding-top: 25px !important; }

.padding-left-25 {
  padding-left: 25px !important; }

.padding-bottom-25 {
  padding-bottom: 25px !important; }

.padding-right-25 {
  padding-right: 25px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-left-30 {
  padding-left: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-right-30 {
  padding-right: 30px !important; }

.padding-top-35 {
  padding-top: 35px !important; }

.padding-left-35 {
  padding-left: 35px !important; }

.padding-bottom-35 {
  padding-bottom: 35px !important; }

.padding-right-35 {
  padding-right: 35px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-left-40 {
  padding-left: 40px !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.padding-right-40 {
  padding-right: 40px !important; }

.padding-top-45 {
  padding-top: 45px !important; }

.padding-left-45 {
  padding-left: 45px !important; }

.padding-bottom-45 {
  padding-bottom: 45px !important; }

.padding-right-45 {
  padding-right: 45px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-left-50 {
  padding-left: 50px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-right-50 {
  padding-right: 50px !important; }

.padding-top-55 {
  padding-top: 55px !important; }

.padding-left-55 {
  padding-left: 55px !important; }

.padding-bottom-55 {
  padding-bottom: 55px !important; }

.padding-right-55 {
  padding-right: 55px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.padding-left-60 {
  padding-left: 60px !important; }

.padding-bottom-60 {
  padding-bottom: 60px !important; }

.padding-right-60 {
  padding-right: 60px !important; }

.padding-top-65 {
  padding-top: 65px !important; }

.padding-left-65 {
  padding-left: 65px !important; }

.padding-bottom-65 {
  padding-bottom: 65px !important; }

.padding-right-65 {
  padding-right: 65px !important; }

.padding-top-70 {
  padding-top: 70px !important; }

.padding-left-70 {
  padding-left: 70px !important; }

.padding-bottom-70 {
  padding-bottom: 70px !important; }

.padding-right-70 {
  padding-right: 70px !important; }

.padding-top-75 {
  padding-top: 75px !important; }

.padding-left-75 {
  padding-left: 75px !important; }

.padding-bottom-75 {
  padding-bottom: 75px !important; }

.padding-right-75 {
  padding-right: 75px !important; }

.padding-top-80 {
  padding-top: 80px !important; }

.padding-left-80 {
  padding-left: 80px !important; }

.padding-bottom-80 {
  padding-bottom: 80px !important; }

.padding-right-80 {
  padding-right: 80px !important; }

.padding-top-85 {
  padding-top: 85px !important; }

.padding-left-85 {
  padding-left: 85px !important; }

.padding-bottom-85 {
  padding-bottom: 85px !important; }

.padding-right-85 {
  padding-right: 85px !important; }

.padding-top-90 {
  padding-top: 90px !important; }

.padding-left-90 {
  padding-left: 90px !important; }

.padding-bottom-90 {
  padding-bottom: 90px !important; }

.padding-right-90 {
  padding-right: 90px !important; }

.padding-top-95 {
  padding-top: 95px !important; }

.padding-left-95 {
  padding-left: 95px !important; }

.padding-bottom-95 {
  padding-bottom: 95px !important; }

.padding-right-95 {
  padding-right: 95px !important; }

.padding-top-100 {
  padding-top: 100px !important; }

.padding-left-100 {
  padding-left: 100px !important; }

.padding-bottom-100 {
  padding-bottom: 100px !important; }

.padding-right-100 {
  padding-right: 100px !important; }

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input {
  margin-bottom: 10px; }

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block; }

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* HEADER */
.navbar {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .navbar .navbar-brand {
    height: 100px; }

.navbar-default {
  background-color: #f0f0f0;
  border: none;
  border-bottom: solid 1px #e5e5e5; }

.navbar-nav > li > a {
  padding-bottom: 40px;
  padding-top: 40px; }

.wrapper {
  border: solid 1px #f0f0f0;
  padding-bottom: 30px; }

.btn-add {
  color: #95989a;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
  display: block; }
  .btn-add i {
    margin-left: 5px; }
  .btn-add:hover {
    color: #333; }

.btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.btn-primary {
  background-color: #f0f0f0;
  border: solid 1px #c4c6c7;
  color: #333; }
  .btn-primary:hover {
    border: solid 1px #333;
    color: #333;
    background-color: #f0f0f0; }

.project-box {
  background-color: #f0f0f0;
  border: solid 1px #e5e5e5;
  padding: 15px;
  position: relative;
  margin-bottom: 25px; }
  .project-box .project-name {
    margin: 0;
    padding: 0; }
  .project-box .user-list {
    bottom: 10px;
    right: 10px;
    position: absolute; }
    .project-box .user-list ul {
      padding: 0;
      margin: 0;
      list-style: none;
      list-style-image: none; }
      .project-box .user-list ul li {
        display: inline-block; }
        .project-box .user-list ul li a {
          font-size: 35px;
          color: #808080; }
          .project-box .user-list ul li a:hover {
            color: #333; }
  .project-box .phase {
    float: left;
    padding: 5px 25px;
    min-width: 150px;
    text-align: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: #f4f4f4;
    border: solid 1px #95989a; }
  .project-box .progress-bar-vertical {
    width: 50px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
    margin-bottom: 0;
    box-shadow: 0 0 0 1px #95989a inset; }
    .project-box .progress-bar-vertical .progress-bar {
      width: 100%;
      height: 0;
      -webkit-transition: height 0.6s ease;
      -o-transition: height 0.6s ease;
      transition: height 0.6s ease;
      background-color: #d0d0d0;
      box-shadow: none;
      box-shadow: 0 0 0 1px #95989a inset; }
      .project-box .progress-bar-vertical .progress-bar > span {
        color: #FFF; }

/* FORMS */
.field-errors {
  background-color: #cb2026;
  border-radius: 3px;
  bottom: calc(50% + 6px);
  right: 0;
  color: #fff;
  font-size: 12px;
  list-style: outside none none;
  min-width: 150px;
  padding: 7px 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .field-errors:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #cb2026 transparent transparent transparent;
    position: absolute;
    bottom: -6px;
    right: 10px;
    content: ""; }

.form-group {
  position: relative; }
  .form-group.has-error input, .form-group.has-error textarea, .form-group.has-error select, .form-group.has-error number {
    border: solid 1px #EC0006 !important; }
  .form-group.has-error .field-errors {
    opacity: 0;
    visibility: hidden; }
  .form-group.has-error input:hover + .field-errors, .form-group.has-error div.checkbox label:hover + .field-errors, .form-group.has-error select:hover + .field-errors, .form-group.has-error textarea:hover + .field-errors {
    visibility: visible;
    opacity: 1; }
  .form-group .form-control:focus {
    box-shadow: none; }

input, textarea, number, select {
  background-color: transparent;
  width: 100%;
  padding: 8px 5px;
  margin-top: 15px;
  font-size: 14px;
  height: auto;
  box-shadow: none;
  border: solid 1px #ddd;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  input:focus, textarea:focus, number:focus, select:focus {
    outline: none;
    border: solid 1px #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

/*		
	input + label, textarea + label {
	  display:block;
	  cursor:text;
	  color:#bababa;
	  font-weight:bold;
	  transition:.15s ease-out all;
	  position:absolute;
	  top:2em;
	  font-size:12px;
	  right:6px;
	}
	
	input:focus + label,
	label.stay,
	textarea:focus + label{
	  top:-4px;
	  right:6px;
	  font-size:11px;
	  font-weight:bold;
	  color:#333;
	  transition:.15s ease-out all;
	}*/
.form-group label {
  display: block;
  cursor: text;
  color: #333;
  font-weight: bold;
  transition: .15s ease-out all;
  position: absolute;
  top: -4px;
  font-size: 11px;
  right: 6px;
  display: none !important; }
  .form-group label:focus {
    outline: none;
    border: solid 1px #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

#map_location {
  width: 100% !important; }

#id_city {
  margin-top: -40px;
  margin-bottom: 30px; }

.checkbox-list {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none; }
  .checkbox-list li {
    position: relative; }
  .checkbox-list label {
    font-weight: normal;
    padding-right: 25px; }
    .checkbox-list label:before {
      position: absolute;
      right: 1px;
      top: 0px;
      font-size: 14px; }
    .checkbox-list label:after {
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      right: 0;
      top: 2px;
      border: solid 1px #000;
      content: ""; }
  .checkbox-list input[type=checkbox] {
    display: none; }
  .checkbox-list input[type=checkbox] + label:before {
    font-family: FontAwesome; }
  .checkbox-list input[type=checkbox] + label:before {
    content: ""; }
  .checkbox-list input[type=checkbox]:checked + label {
    text-decoration: line-through; }
    .checkbox-list input[type=checkbox]:checked + label:before {
      content: "\f00c"; }

.page-title {
  font-size: 22px;
  color: #000;
  margin-bottom: 20px; }

.panel {
  border: solid 1px #ddd;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .panel .panel-heading {
    font-size: 18px;
    font-weight: 600; }
  .panel .panel-footer {
    border: 0;
    background-color: #FFF; }

.team-list, .file-list {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none; }
  .team-list li, .file-list li {
    min-height: 36px; }
  .team-list a, .file-list a {
    color: #333; }
    .team-list a i, .file-list a i {
      font-size: 30px;
      position: relative;
      top: 4px;
      margin-left: 10px; }

.timeline {
  list-style: none;
  padding: 0px;
  position: relative; }
  .timeline .timeline-title {
    font-size: 14px;
    font-weight: 700; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 5px;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 10px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 90%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-left: 11px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 11px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 22px;
  right: -10px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px; }

  ul.timeline > li > .timeline-panel {
    float: right; }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }
.wizard-steps {
  margin-bottom: 30px; }
  .wizard-steps .panel {
    border: solid 1px #ddd;
    box-shadow: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    padding: 15px 30px 30px 30px; }
  .wizard-steps ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    display: flex; }
    .wizard-steps ul li {
      display: inline-block;
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative; }
      .wizard-steps ul li span {
        width: 26px;
        height: 26px;
        display: block;
        position: absolute;
        bottom: -15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        right: calc(50% - 13px);
        z-index: 3;
        background-color: transparent; }
      .wizard-steps ul li:after {
        content: "";
        width: 26px;
        height: 26px;
        display: block;
        position: relative;
        bottom: -15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        border: solid 2px #333;
        right: calc(50% - 13px);
        z-index: 2;
        background-color: #FFF; }
      .wizard-steps ul li.ready span {
        background-color: #333; }
      .wizard-steps ul li.active span {
        -webkit-border-radius: 0 13px 13px 0;
        border-radius: 0 13px 13px 0;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        background-clip: padding-box;
        background-color: #333;
        border: medium none;
        height: 25px;
        width: 13px; }
      .wizard-steps ul li:before {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -3px;
        border-bottom: solid 2px #ddd; }
      .wizard-steps ul li:first-child:before {
        width: 50%; }
      .wizard-steps ul li:last-child:before {
        width: 50%;
        left: auto;
        right: 0; }

/*# sourceMappingURL=style.css.map */
