{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans 'Log In' %}
{% endblock %}

{% block content %}
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    <form class="form-signin" method="post" action="{% url 'login' %}" novalidate="novalidate">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <p class="">{{ non_field_error }}</p>
                        {% endfor %}
                        {% for field in form %}
                        	<div class="form-group {% if field.errors %}has-error{% endif %}">
                                
                                <label>{{ field.label }}</label>
                                <div>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="field-errors">{{ error }}</div>
                                {% endfor %}
                                </div>
                          	</div>

                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">{% trans 'Log In' %}</button>
                    <p class="text-center margin-top-10"><a href="{% url 'registration' %}" >{% trans 'Register' %}</a></p>
                    </form>
                </div>
            </div>
{% endblock %}