{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}
    {% trans Registration %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    <form class="form-signin" method="post" action="#">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <p class="">{{ non_field_error }}</p>
                        {% endfor %}
                        {% for field in form %}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">{% trans 'Register' %}</button>
                        <a href="{% url 'login' %}" >{% trans 'Login' %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}